@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

body {
    padding: 0 10px;
    background-color: #1A226B;
    font-family: 'Roboto', sans-serif;
}