.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 11px;
    margin: 82px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.form__registratuion {
    display: none;
}

.form__registratuion-link, .form__entrance-link {
    display: block;
    width: 100%;
    margin: 0;
    text-align: end;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #1A226B;
    cursor: pointer;
}

.form__title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}

.form__input-item, .form__agree-wrapper {
    width: 509px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form__input-item::before {
    content: '*';
    position: relative;
    width: 10px;
    top: 49px;
    right: 14px;
    font-weight: 700;
    font-size: 18px;
    color: #787878;
}
.form__input-item.toggle::before {
    content: '*';
    position: relative;
    width: 10px;
    top: 49px;
    right: 14px;
    font-weight: 700;
    font-size: 18px;
    color: red;
}

.form__input-label{
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}

.form__input {
    margin-top: 3px;
    padding: 7px 0 6px 17px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #787878;
}

.form__input::placeholder {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
}

.form__agree-wrapper {
    padding-top: 20px;
}

.form__agree {
    max-width: 390px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
    user-select: none;
}

.form__agree-text {
    max-width: 347px;
    display: inline-block;
    margin-left: 10px;
    text-align: start;
    user-select: none;
    cursor: pointer;
}

.checkbox-wrapper {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 2px solid #787878;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form__agree::before {
    content: '*';
    position: relative;
    width: 10px;
    top: 2px;
    right: 4px;
    font-weight: 700;
    font-size: 18px;
    color: #787878;
}

.checkbox-wrapper input {
    display: none;
}

.checkbox-wrapper label {
    width: 100%;
    height: 100%;
    display: block;
    background: transparent;
    cursor: pointer;
    visibilty: hidden;
    position: absolute;
    z-index: 10;
}

.checkbox-wrapper span:before {
    content: '';
}

.checkbox-wrapper #modern-checkbox:checked+span:after {
    content: '\2713';
    font-size: 25px;
    color: #787878;
    text-decoration: none;
}
.checkbox-wrapper #modern-checkbox1:checked+span:after {
    content: '\2713';
    font-size: 25px;
    color: #787878;
    text-decoration: none;
}

.form__submit {
    max-width: 180px;
    margin: 20px 200px;
    padding: 18px 18px 18px 17px;
    background: #1A226B;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.email,
.password,
.checkbox-error {
    display: none;
}
.error-tex {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #CB2424;
}

.checkbox-error {
    margin-left: 43px;
}

.error {
    color: red;
}

.error-border{
    border: 2px solid red;
}


.error .input-field {
    border-color: red;
}

.error-label {
    display: block;
    color: red;
}
