ul.cards {
    width: 100%;
    height: 100%;
    background-color: rgb(82, 182, 182);
    padding: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}